header {
    position: relative;
}

.top-gnb-wrap {
    position: static;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    background: #fff;
}

.bottom-header-box {
    display: flex;
    max-width: 1470px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    background-color: #fff;
}

.bottom-top-header-box {
    margin: 0 auto;
    max-width: 1200px;
    flex-basis: 1000px;
}

.gnb-ul {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.gnb-ul li {
    display: table-cell;
    position: relative;
    text-align: center;
}

.gnb-ul li a {
    color: #333;
    line-height: 28.96px;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: -1px;
}

.top-srch-box {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 50px;
}

.hide {
    display: block;
    /* position: absolute; */
    width: 0;
    height: 0;
    text-indent: -9999999px;
    overflow: hidden;
}

.bottom-header-box .top-srch-box .srch-input {
    padding: 12px 0px 12px 31px;
    width: 160px;
    border: 2px solid #666;
    background: #fff;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 0;
}

.bottom-header-box .top-srch-box .srch-btn {
    position: absolute;
    top: 18px;
    left: 13px;
    width: 18px;
    height: 18px;
    border: none;
    background: url("/img/btn-srch.png") no-repeat 0 0 / 100%;
    text-indent: -99999px;
    cursor: pointer;
}

.container {
    padding: 0px 0 0 0;
}

.owl-carousel {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}

.owl-carousel .owl-stage { 
    transform: translate3d(0px, 0px, 0px);
    transition: all;
    width: 2940px;
}

.owl-carousel .owl-item {
    width: 1470px;
    min-height: 1px;
    float: left;
}

.main-visual-box .item {
    position: relative;
    height: 600px;
    /* padding-top: 31.5%; */
}

.main-visual-box .item .main-visual-img-box:nth-of-type(1) {
    background: url("/img/img-main-cleanair01-230224.jpg") no-repeat center center / cover;
    height: 100%;
}

.main-visual-box .item .main-visual-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-visual-box .owl-item:nth-of-type(1) .item .main-visual-txt-box {
    max-width: 600px;
    position: absolute;
    left: 20px;
    top: 50%;
    padding: 60px 40px;
    bottom: auto;
    transform: translateY(-50%);
    background-color: transparent;
    box-sizing: border-box;
}

.main-visual-box .item .main-visual-txt-box {
    position: absolute;
    max-width: 840px;
    width: 100%;
    bottom: 114px;
    left: 50%;
    transform: translate(-50%);
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    text-align: center;
}

.main-visual-box .item .main-visual-txt-box > p a {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.333rem;
    color: #fff;
    box-sizing: border-box;
}

.main-visual-box .owl-item:nth-of-type(1) .item .main-visual-txt-box > p {
    text-align: left;
}

.main-visual-box .owl-item:nth-of-type(1) .item .main-visual-txt-box > p > span {
    display: block;
    margin: 0 0 25px;
    line-height: 60px;
    font-size: 42px;
    font-weight: 700;
    color: #002773;
}

/* owl-nav disabled */

.main-visual-box .owl-theme .owl-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}

.main-visual-box .owl-theme .owl-dots .owl-dot.active span {
    width: 28px;
    height: 14px;
    background-color: #F0FF40;
    border-radius: 7px;
    transition: all .2s ease;
}

.owl-carousel .owl-dot a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-indent: -99999px;
}

.main-visual-box .owl-theme .owl-dots .owl-dot span {
    display: block;
    width: 14px;
    height: 14px;
    margin: 5px 7px;
    background: #D6D6D6;
    transition: all .2s ease;
    border-radius: 50%;
    background-color: #fff;
}

.banner-notice-wrap {
    background-color: #002773;
    height: 60px;
    padding: 20px 0;
    box-sizing: border-box;
}

.main-content-box01-renew {
    background-color: rgba(0, 117, 225, 0.1);
}

.main-content-box01-renew .main-mini-wrap {
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    font-size: 0px;
}

.main-content-box01-renew .main-mini-box01 {
    display: inline-block;
    width: 61.5%;
    margin: 0 40px 0 0;
    padding: 40px 40px;
    box-sizing: border-box;
    vertical-align: top;
    background-color: #fff;
    border-radius: 20px;
}

.main-content-box01-renew .main-title-tab {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 35px 0;
    position: relative;
}

.main-content-box01-renew .main-title-tab .select-board-name {
    font-size: 23px;
    font-weight: 500;
    line-height: 49.23px;
    color: #333;
}

.main-content-box01-renew .main-title-tab ul {
    display: flex;
    flex-basis: 394px;
    margin-left: 56.5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0px 0;
    z-index: 10;
}

.main-content-box01-renew .main-title-tab ul > li.active {
    padding: 10px 20px;
    border-radius: 21px;
    background-color: #0075E1;
}

.main-content-box01-renew .main-title-tab ul > li.active .main-tab-content {
    position: relative;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: -1px;
}

.main-content-box01-renew .main-title-tab ul > li {
    margin: 0 25px 0 0;
    box-sizing: border-box;
    vertical-align: top;
    line-height: 1rem;
}

.main-content-box01-renew .main-title-tab ul > li .main-tab-content {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #666;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: -1px;
    vertical-align: middle;
}

.main-content-box01-renew .main-content-tab {
    width: 100%;
    position: relative;
}

.main-content-box01-renew .main-content-tab li.active {
    display: block;
}

.hide {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    text-indent: -9999999px;
    overflow: hidden;
}

.main-content-box01-renew .main-content-tab .main-board-title-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 20px 0;
    box-sizing: border-box;
    text-align: left;
}

.main-content-box01-renew .main-content-tab .main-board-date {
    display: inline-block;
    padding: 0 16px 0 0;
    vertical-align: top;
}

.main-content-box01-renew .main-content-tab .main-board-date .date01 {
    display: block;
    color: #105ab5;
    font-size: 40px;
    font-weight: 900;
    line-height: 45px;
}

.main-content-box01-renew .main-content-tab .main-board-date .date02 {
    display: block;
    color: #333;
    font-size: 13px;
}

.main-content-box01-renew .main-content-tab .main-board-title-txt {
    display: inline-block;
    width: calc(100% - 75px);
    vertical-align: middle;
}

.main-content-box01-renew .main-content-tab .main-board-title-txt p {
    padding: 0 0 5px 0;
    overflow: hidden;
    color: #333;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-content-box01-renew .main-content-tab .main-board-title-txt span {
    display: -webkit-box;
    max-height: 40px;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.main-content-box01-renew .main-content-tab .main-board-article-box {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.main-content-box01-renew .main-content-tab .main-board-article-box ul li {
    padding: 8px 0;
}

.main-content-box01-renew .main-content-tab .main-board-article-box ul li a {
    display: block;
}

.main-content-box01-renew .main-content-tab .main-board-article-box ul li a p {
    display: inline-block;
    width: calc(100% - 95px);
    padding: 0 30px 0 0;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 18px;
    color: #333;
}

.main-content-box01-renew .main-content-tab .main-board-article-box ul li a .date {
    display: inline-block;
    color: #555;
    font-size: 1rem;
    font-weight: 400;
    vertical-align: middle;
    color: #333;
    line-height: 1rem;
}

.main-content-box01-renew .main-content-tab li.active .btn-more {
    display: block;
}

.main-content-box01-renew .main-content-tab li .btn-more {
    /* display: none; */
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0px;
    top: -77px;
    z-index: 10;
}

.main-content-box01-renew .main-content-tab li .btn-more:after {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("/img/btn-more-type02.jpg") no-repeat;
}

.main-content-box01-renew .main-mini-wrap .main-mini-box02 {
    display: inline-block;
    position: relative;
    padding: 40px 53px;
    width: 35.5%;
    background-color: #fff;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 20px;
}

.index-date {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin: 0 0 34px 0;
}

.main-content-box01-renew .main-mini-wrap .main-mini-box02 .index-date {
    font-size: 0px;
}

.main-content-box01-renew .main-mini-wrap .main-mini-box02 .index-date span:nth-of-type(1) {
    background-color: #000;
    padding: 5px 14px;
    border-radius: 5px 0 0 5px;
}

.main-content-box01-renew .main-mini-wrap .main-mini-box02 .index-date span:nth-of-type(2) {
    background-color: #464E5C;
}

.index-date span:nth-of-type(2) {
    margin: 0 0 0 -5px;
    background-color: #4b5970;
    color: #fff;
    padding: 5px 15px;
    border-radius: 0 5px 5px 0;
}

.main-content-box01-renew .main-mini-wrap .main-mini-box02 .index-date span {
    display: inline-block;
    font-size: 16px;
}

.main-content-box01-renew .main-mini-wrap .main-mini-box02 .renew-condition-box {
    position: relative;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
}

.swiper-slide {
    width: 159px;
    margin-right: 30px;
    flex-shrink: 0;
    position: relative;
 }

 .main-content-box01-renew .main-mini-wrap .main-mini-box02 .swiper-slide > a {
    display: block;
    padding: 0px 0 23px 0;
    background-color: rgba(0, 117, 225, 0.1);
    text-align: center;
    border-radius: 9px;
}

.condition01 {
  display: block;
  background: #0175E4 url("/img/img-status-01-202304.png") no-repeat 50% 20%;
  background-size: 100%;
  border-radius: 10px 10px 0 0;
  position: relative;
  padding: 15px 0;
}

.main-content-box01-renew .main-mini-wrap .main-mini-box02 .swiper-slide > a > span > i {
    display: block;
    padding: 94px 0 6px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.main-content-box01-renew .main-mini-wrap .main-mini-box02 .swiper-slide > a p:nth-of-type(1) {
    padding: 10px 0 0 0;
    font-size: 1rem;
}

.main-content-box01-renew .main-mini-wrap .main-mini-box02 .swiper-slide > a p:nth-of-type(2) {
    padding: 10px 0 0 0;
    font-size: 1rem;
}

.main-content-box01-renew .main-mini-wrap .main-mini-box02 .swiper-slide > a p span {
    font-size: 33px;
    font-weight: 500;
    letter-spacing: 0px;
    margin: 0 0px 0 0;
    color: #000;
}

.main-content-box01-renew .main-mini-wrap .main-mini-box02 .control-wrap .swiper-button-prev {
    left: 10px;
    background: url("/img/prev.png") no-repeat 0 0 / 100%;
    margin: 0 50px 0 0;
}

.main-content-box01-renew .main-mini-wrap .main-mini-box02 .control-wrap .swiper-ctr-btn {
    display: block;
    position: absolute;
    top: 50%;
    width: 35px;
    height: 35px;
    transform: translateY(-50%);
}

.main-content-box01-renew .main-mini-wrap .main-mini-box02 .control-wrap .swiper-button-next {
    right: 8px;
    margin: 0 0 0 50px;
    background: url("/img/next.png") no-repeat 0 0 / 100%;
}

.main-content-box-renew .main-mini-box03 {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0px;
    box-sizing: border-box;
}

.renew-title-wrap {
    text-align: center;
    margin: 0 0 40px;
}

.color-bar {
    margin: 0 0 10px 0;
}

.renew-title-wrap .title {
    margin: 0 0 10px;
    font-size: 2.111rem;
    font-weight: 500;
    line-height: 2.111rem;
    color: #333;
}

.renew-title-wrap .desc {
    font-size: 0.889rem;
    font-weight: 300;
    line-height: 0.889rem;
    color: #333;
}

.main-content-wrap02 .main-content-box02-renew .main-mini-box .main-link-box {
    display: flex;
}

.main-content-wrap02 .main-content-box02-renew .main-mini-box .main-link-box > li {
    width: calc(20% - 25px);
    margin: 0 70px 0 0;
    padding: 44px 12px 44px;
    position: relative;
    text-align: center;
    background-color: #474e56;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
}

.main-content-wrap02 .main-content-box02-renew .main-mini-box .main-link-box > li::before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 10px;
    transition: opacity 0.3s ease;
    /* background: rgb(26, 173, 253); */
}

.main-content-wrap02 .main-content-box02-renew .main-mini-box .main-link-box > li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.main-content-wrap02 .main-content-box02-renew .main-mini-box .main-link-box > li > a .main-link-box-top {
    margin: 0 0 20px;
    max-height: 106px;
    height: 100%;
}

.main-content-wrap02 .main-content-box02-renew .main-mini-box .main-link-box > li > a .main-link-icon {
    margin: 0 0 25px 0;
    position: relative;
    z-index: 2;
}

.main-content-wrap02 .main-content-box02-renew .main-mini-box .main-link-box > li .main-link-txt01 {
    position: relative;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    word-break: keep-all;
    z-index: 2;
}

.main-content-wrap02 .main-content-box02-renew .main-mini-box .main-link-box > li .main-link-txt02 {
    width: 120px;
    margin: 0 auto 0px;
    padding: 10px 10px;
    position: relative;
    border-radius: 32px;
    background-color: #fff;
    color: #617a93;
    font-weight: 400;
    z-index: 3;
    box-sizing: border-box;
}

.main-content-box03-renew .main-mini-box {
    max-width: 1470px;
}

.main-content-box03-renew .owl-slider-container {
    position: relative;
}

.main-content-box03-renew .main-mini-box .main-content03-carousel {
    padding: 0 95px;
}

.main-content-box03-renew .main-mini-box .main-content03-carousel-box {
    padding: 0 0 !important;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}


